
<body>
  <div class="menu-left">
    <div>
      <img src="/images/logo.jpeg" alt="">
    </div>
    <div class="right-border menu" id="homepage">Home</div>
    <div class="right-border menu" id="aboutme">About Me</div>
    <div class="right-border menu" id="projects">Projects</div>
    <div class="right-border menu" id="services">Services</div>
    <div class="right-border menu" id="contactMe">Contact Me</div>
  </div>
</body> 