<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>
 
<body>
  <div class="header">
    <%- include("header") %>
  </div>
  <div class="content">
    <div class="each-service">
      <h3>Web Scraping</h3>
      <div>
        I convert websites into structured data. I do everything for my customers when it comes to data
        extration-setting up scrapers, running it, cleaning the data, checking the data quality, and making sure the
        data is delivered on time.
      </div>
    </div>
    <div class="each-service">
      <h3>Data Analysis</h3>
      <div>
        During my previous experience, the Data Analyst role brought me in touch with all the elements of this job
        including the finer points that make a massive difference. My proficiency with SQL programming will help your
        team implement your project.
      </div>
    </div>
    <div class="each-service">
      <h3>Web development</h3>
      <div>
        The pandemic offers me the chance to step into this area which I feel very grateful. This is the very first web
        project that I have. I implement it with Express, a back-end web application framework for Node.js. In this
        site, I also include other skills like bootstrap, fontawesome, jquery, yarn, npm, lootie, typed, etc. All I know
        so far, I will add to here.
      </div>
    </div>
  </div>
</body>
<script src="/javascripts/header.js"></script>

</html>